<section class="py-3 text-center container" >
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Home Time</h1>
      <p class="lead text-muted">
        <div class="greeting">
          検索結果はこちらです
        </div>
       <p>お気に入りのレシピは見つかりましたか？</p>
       <p>レシピ名を押すとレシピの詳細が見れます</p>
    </div>
  </div>
<%= render partial: "img_recipe" , model: @recipes %>
</section>

